<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>

<link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700'%}" rel="stylesheet">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'%}" rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css'%}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'css/creative.min.css'%}" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ENIC</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"   href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#login"  href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>

        </ul>
      </div>
    </div>
  </nav>

    <section class="page-section bg-dark text-white">
        <div class="container">
             <div class="row justify-content-center">

          <form action="{% url 'transhistory' id=data.job_id %}" method="POST">
            {%csrf_token%}
              <div class="row justify-content-center" class="col-lg-8 text-center text-white font-white-bold" >
                  <h1>PAYMENT DETAILS</h1></div>

                <div  class="form-group" >
                    <label>Card Number</label>
                    <input type="text"  class="form-control" name="cardnumber"   placeholder="" required>


                   <label>Exp Date</label>
                    <input  type="date" class="form-control" name="exp_date">
                    <label>CVV</label>
                    <input type="password"  class="form-control" name="cvv"   placeholder="" maxlength="3" required>
                    <label>Holder Name</label>
                    <input type="text"  class="form-control" name="holdername"   placeholder="" required>



                </div>

                <div style="text-align: center;">
                    <p  class="form-group"  >
                    <button type="submit"  class="btn btn-primary btn-xl js-scroll-trigger">Pay</button></p>
                </div>

          </form>

            </div>

        </div>
    </section>
</body>
</html>